{% extends 'main/base.html' %}
{% load static %}

{% block title %}
<title>{{title}}</title>
{{ any_other_headers|safe }}
{% endblock title %}
  

{% block content %}
 
  <section id="hero" class="d-flex align-items-center">

    <div class="container">
      <h1>Predictions</h1>
    </div>

  </section><!-- End Hero -->
  <main id="main">


    <!-- ======= About Us Section ======= -->
    <section id="about" class="about">
      <div class="container" data-aos="fade-up">
          {% for x in data%}
          <div class="card">
            <div class="card-body">
              <strong>Name : </strong>{{x.title}}
              <br>
              {% if x.isProcess %}
                <strong>Status : </strong> <strong class="text-warning"> Running </strong>
              {% else %}
                {% if x.isPredicted %}
                    <strong>Status : </strong> <strong class="text-success"> Finished </strong>
                {% else %}
                    <strong>Status : </strong> <strong class="text-danger"> Waiting </strong>
                {% endif %}
              {% endif %}
              <br>
              {% if x.isMeta %}
                <strong>Metadata Fetched : </strong> <strong class="text-success"> YES </strong> ( {{x.page_limit}} Pages) 
              {% else %}
                <strong>Metadata Fetched : </strong> <strong class="text-danger"> NO </strong>
              {% endif %}
              <br>
              {% if x.isRanklist %}
                <strong>Ranklist Fetched : </strong> <strong class="text-success"> YES </strong>
              {% else %}
                <strong>Ranklist Fetched : </strong> <strong class="text-danger"> NO </strong>
              {% endif %}
              <br>
              {% if x.isUserdata %}
                <strong>Userdata Fetched : </strong> <strong class="text-success"> YES </strong>
              {% else %}
                <strong>Userdata Fetched : </strong> <strong class="text-danger"> NO  </strong>({{x.userdata_progress}})
              {% endif %}
              <br>
              {% if x.isPredicted %}
              <strong>Enter Username</strong>
              <div class="container">

                  <div class="row">
                    <div class="col-4-md">
                      <input class="form-control" stype="text" id="{{x.pk}}username">
                    </div>
                    <div class="col-4-md pl-2">
                      <button class="btn btn-info" onclick="getPrediction({{x.pk}})">Get Prediction</button>
                    </div>
                    <div class="container-fluid p-0" style="display: none;" id='prediction_results{{x.pk}}'>
                      <div class="card">
                        <div class="card-body">
                          
                            <strong>Expected Rank: </strong> <span id="ERank{{x.pk}}"></span>
                            <br>
                            <strong>Geometric Mean: </strong> <span id="GM{{x.pk}}"></span>
                            <br>
                            <strong>Expected Rating: </strong><span id="ERating{{x.pk}}"></span>
                            <br>
                            <strong>Delta: </strong> <strong id="Delta{{x.pk}}" class="text-success"></strong>
                            <br>
                            <br>
                            <br>
                            <h2><strong>New Rating: </strong>  <strong class="text-success" id="NRating{{x.pk}}" ></strong></h2>
                            <br>
                        </div>
                      </div>
                  </div>
                  <div class="container-fluid p-0" style="display: none;" id='preloader_prediction_results{{x.pk}}'>
                    <div class="card">
                      <div class="card-body">
                          <h2><strong>Predicting....</strong></h2>
                      </div>
                    </div>
                </div>
                  </div>
              </div>
              {% endif %}
            </div>
          </div>
              
          {% endfor %}
      </div>
    </section><!-- End Frequently Asked Questions Section -->
    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
<script type="text/javascript">
    function getObj(id){
        return document.getElementById(id)
    }
    function getPrediction(pk){
        username = document.getElementById(pk+'username').value;
        obj = document.getElementById('prediction_results'+pk);
        obj2 = document.getElementById('preloader_prediction_results'+pk);
        obj.style='display: none;'
        obj2.style='display: block;'
        payload = '/predict/'+pk+'/'+username;
          axios.get(payload).then(response=> {
              response=response.data;
              console.log(response);
              if(response=='User not found !'){
                  Swal.fire("User not found !", "Please check the username.", "error");
                  
                  obj.style='display: none;'
                  obj2.style='display: none;'
              }else{
              var foo = getObj('ERank'+pk);                
              foo.innerText = response['ERank'].toFixed(2);

              foo = getObj('GM'+pk);                
              foo.innerText = response['GM'].toFixed(2);

              foo = getObj('ERating'+pk);                
              foo.innerText = response['ERating'].toFixed(2);

              foo = getObj('Delta'+pk);      
              if(response['nature']==true){
                foo.classList='text-success';
              }else{
                foo.classList='text-danger';
              }
              var temp = document.createElement('span')
              temp.innerHTML = response['Delta'].toFixed(2);
 
              foo.textContent = '';
              foo.appendChild(temp);

              
              foo = getObj('NRating'+pk);      
              
              var temp = document.createElement('span')
              temp.innerHTML = response['NewRating'].toFixed(2);
              if(response['nature']==true){
                temp.classList='text-success';
              }else{
                temp.classList='text-danger';
              }
              foo.textContent = '';
              foo.appendChild(temp);
              obj2.style='display: none;'
              obj.style='display: block;'
            }
          }).catch(error => console.error(error));
        
    }
</script>
{% endblock content %}
